/CLASE02-24-OCT-2015/AprendiendoJava/nbproject/private/
/CLASE02-24-OCT-2015/AprendiendoJava/build/
/CLASE02-24-OCT-2015/PagoApp/nbproject/private/
/CLASE02-24-OCT-2015/PagoApp/build/
/CLASE02-24-OCT-2015/PagoApp/dist/
/CLASE03-31-OCT-2015/LibMatematica/nbproject/private/
/CLASE03-31-OCT-2015/LibMatematica/build/
/CLASE03-31-OCT-2015/LibMatematica/dist/
/CLASE03-31-OCT-2015/AppPruebaMate/nbproject/private/
/CLASE03-31-OCT-2015/AppPruebaMate/build/
/CLASE03-31-OCT-2015/AppPruebaMate/dist/
/CLASE03-31-OCT-2015/AprendiendoJava/nbproject/private/
/CLASE03-31-OCT-2015/AprendiendoJava/build/
/CLASE03-31-OCT-2015/MateApp/nbproject/private/
/CLASE03-31-OCT-2015/MateApp/build/
/CLASE03-31-OCT-2015/MateApp/dist/
/CLASE04-07-NOV-2015/AprendiendoHerencia/nbproject/private/
/CLASE04-07-NOV-2015/AprendiendoHerencia/build/
/CLASE04-07-NOV-2015/VentaApp/nbproject/private/
/CLASE04-07-NOV-2015/VentaApp/build/
/CLASE05-14-NOV-2015/AprendiendoJava/nbproject/private/
/CLASE05-14-NOV-2015/AprendiendoJava/build/
/CLASE05-14-NOV-2015/AprendiendoInterfaces/nbproject/private/
/CLASE05-14-NOV-2015/AprendiendoColecciones/nbproject/private/
/CLASE05-14-NOV-2015/AprendiendoColecciones/build/
/TRABAJOS/Mandujano y Baraybar/MatricesApp/MatricesApp/build/
/TRABAJOS/Mandujano y Baraybar/MatricesApp/MatricesApp/nbproject/private/