/CLASE02-24-OCT-2015/AprendiendoJava/nbproject/private/
/CLASE02-24-OCT-2015/AprendiendoJava/build/
/CLASE02-24-OCT-2015/PagoApp/nbproject/private/
/CLASE02-24-OCT-2015/PagoApp/build/
/CLASE02-24-OCT-2015/PagoApp/dist/